* {
    box-sizing: border-box;
}


/* layout 1 */

.container1 {
    border: 4px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 50px;
}

.box1 {
    border: 4px solid lightgray;
    width: 100px;
    height: 100px;
}

.small-boxes-container1 {
    display: flex;
    align-items: center;
}


.small-box1 {
    border: 4px solid lightgray;
    width: 50px;
    height: 50px;
    margin-right: 24px;
}

/* layout 2 */

.container2 {
    border: 4px solid lightgray;
    padding: 24px 24px 0px 24px;
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.box-title {
    border: 2px solid lightgray;
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
}

.small-boxes-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-box2 {
    border: 4px solid lightgray;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
}
